html {
    width: 100%;
    height: 100%;
}

body {
    width:100%;
    height: 100%;
    font: 300 15px "STHeiti", "Microsoft YaHei", "SimSun", "STSong", "宋体", "Arial", "Helvetica", "sans-serif";
    cursor: default;
    -webkit-text-size-adjust: none;
    background-attachment: fixed;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, header, footer,
th, td, iframe {
    margin: 0;
    padding: 0;
    font-weight: normal;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

ul, li {
    list-style: none;
}

.octopusui-text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: subpixel-antialiased !important;
}